dnet_vj_12_xaml_app/Connected Services/ServiceReference1/dnet_vj_12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/dnet_vj_12" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/dnet_vj_12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Klub">
    <xs:sequence>
      <xs:element minOccurs="0" name="Drzava" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GodinaOsnivanja" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sport" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klub" nillable="true" type="tns:Klub" />
  <xs:complexType name="ArrayOfKlub">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Klub" nillable="true" type="tns:Klub" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKlub" nillable="true" type="tns:ArrayOfKlub" />
</xs:schema>