dnet_vj_12_xaml_app/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/dnet_vj_12" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_DajKlub_InputMessage">
    <wsdl:part name="parameters" element="tns:DajKlub" />
  </wsdl:message>
  <wsdl:message name="IService1_DajKlub_OutputMessage">
    <wsdl:part name="parameters" element="tns:DajKlubResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DajSveKlubove_InputMessage">
    <wsdl:part name="parameters" element="tns:DajSveKlubove" />
  </wsdl:message>
  <wsdl:message name="IService1_DajSveKlubove_OutputMessage">
    <wsdl:part name="parameters" element="tns:DajSveKluboveResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="DajKlub">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DajKlub" message="tns:IService1_DajKlub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DajKlubResponse" message="tns:IService1_DajKlub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DajSveKlubove">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DajSveKlubove" message="tns:IService1_DajSveKlubove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DajSveKluboveResponse" message="tns:IService1_DajSveKlubove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>