dnet_vj_12_xaml_app/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/dnet_vj_12" />
  <xs:element name="DajKlub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DajKlubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/dnet_vj_12" minOccurs="0" name="DajKlubResult" nillable="true" type="q1:Klub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DajSveKlubove">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DajSveKluboveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/dnet_vj_12" minOccurs="0" name="DajSveKluboveResult" nillable="true" type="q2:ArrayOfKlub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>